@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&display=swap');

.logo{
  font-size: 1.5rem;
}

nav{
  background-color: #e9edef;
}

nav a{
  color: black;
  font-family: 'Rubik', sans-serif;
}

nav ul a:hover{
  color: #344b8b;
  transition: 0.5s;
  text-decoration: underline white;
}
.active{
  color: #344b8b;
  text-decoration: underline white;
}

/*hr{*/
/*  color: black;*/
/*  width: 80%;*/
/*  height: 12px;*/
/*  margin: 0 auto;*/
/*  border-top: 4px solid black;*/
/*}*/

.home-back {
  background-image: url("https://images5.alphacoders.com/131/1316393.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top; /* Alignez l'image à droite et au centre verticalement */
  height: 80vh;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0 100%);
}



.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh;
  justify-content: center;
}

.home_content h1{
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 10%;
  color: black;
}

.home_content p {
  text-align: justify;
  margin-right: 11%;
  color: white;
}
.home_content button{
  background-color: white;
  color: black;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-right: 80px;
  /*box-shadow: 5px 11px 5px 0px #f1aca9;*/
  /*-webkit-box-shadow: 5px 11px 5px 0px #f1aca9;*/
  /*-moz-box-shadow: 5px 11px 5px 0px #f1aca9;*/
}

.home_content button:hover {
  background-color: #485662;
  color: #dde1ce;
  transition: 1s;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  /*box-shadow: 5px 11px 5px 0px #54b068;*/
  /*-webkit-box-shadow: 5px 11px 5px 0px #54b068;*/
  /*-moz-box-shadow: 5px 11px 5px 0px #54b068;*/
}
