<!--<div class="home-back ">-->
<div >


  <nav  class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-fluid d-flex">
      <a class="logo navbar-brand text-dark" href="#">Lové <span style="color:  white"> NFT</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link mx-2" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link mx-2" routerLink="nft">NFT</a>

          </li>
          <li class="nav-item" *ngIf="checkIsLogged()">
            <a class="nav-link" routerLink="collection">Collection</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link mx-2" routerLink="eth">ETH</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'" *ngIf="!checkIsLogged()">
            <a class="nav-link mx-2" routerLink="login">login</a>
          </li>


<!--          <li class="nav-item" *ngIf="checkIsLogged()">-->
<!--            <a class="nav-link" (click)="logout()">se déconnecter</a>-->
<!--          </li>-->
          <li class="nav-item" *ngIf="checkIsAdmin()">
            <a class="nav-link" routerLink="admin">admin</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">

          <li class="nav-item " [routerLinkActive]="'active'" *ngIf="!checkIsLogged()">
            <a class="nav-link mx-2 text-light" style=" background-color: #344b8b; text-decoration-line: none; border-radius: 30px " routerLink="login">Se connecter</a>
          </li>
          <li class="nav-item mx-2 d-flex">
            <div class="d-flex align-items-center justify-content-center">
              <div class="align-middle mr-2">
                <a routerLink="favoris"> <i class="fa-regular fa-heart "style="font-size: 30px;"></i></a>
              </div>
            </div>

            <a routerLink="user">
              <div *ngIf="checkIsLogged()" class="nav-item mx-2">
                <img class="rounded-circle" style="width: 60px;"
                     src="{{userData?.profilPicture}}" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>


<!--  <div class="container mt-5 ">-->
<!--    <div class="row">-->
<!--      <div class="col-8">-->
<!--        <div class="home_content">-->
<!--          <h1>Découvrez et <br> <span style="color: white">collectionnez</span> des <br> NFT extraordinaires</h1>-->
<!--          <p>collectionnez et échangez les nft des meilleurs artistes !</p>-->
<!--          <button type="button" class="btn">Collectionnez maintenant !</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;      <div class="col-4">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img class="img_home" src="https://i.pinimg.com/564x/66/cc/1c/66cc1ca6c5f9e8c17bcaaf4c04d95cbb.jpg" alt="">&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

