<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="textfoot " style="margin-top: 100px;">
  <!-- Footer -->
  <footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-2">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" >About us</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" >Nft</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!">Contact</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="fw-bold">
              Lové nft
            </p>
          </div>
        </div>
      </section>
      <section class="text-center mb-2">
        <a href="" class=" me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class=" me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class=" me-4">
          <i class="fab fa-instagram"></i>
        </a>
      </section>

    </div>

    <div
      class="text-center p-3 text-black">
      <a href="https://mdbootstrap.com/"
      >Love NFT</a
      >
    </div>

  </footer>
</div>

