<p>login works!</p>


<!--<div class="text-center">-->
<!--  <form (ngSubmit)="handleSubmit()" [formGroup]="form">-->
<!--    <div>-->
<!--      <label class="text-dark">Email </label>-->
<!--      <div>-->
<!--        <input type="email" formControlName="username" required/>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label>Password</label>-->
<!--      <div>-->
<!--        <input type="password" formControlName="password" required/>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button type="submit">Valider</button>-->
<!--  </form>-->
<!--</div>-->



<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="formRegister" (ngSubmit)="register()">
      <h2 >Create Account</h2>
          <input type="text" placeholder="firstName"  formControlName="firstName" class="form-control" required>
          <input type="text" placeholder="profilPicture"  formControlName="profilPicture" class="form-control" required>
          <input type="text" placeholder="lastName" formControlName="lastName" class="form-control" required>
          <input type="text" placeholder="username" formControlName="username" class="form-control" required>
          <input type="email" placeholder="email" formControlName="email" class="form-control" required>
          <input type="password" placeholder="password" formControlName="password" class="form-control" required>
          <input type="text" placeholder="genre"  formControlName="gender" class="form-control" required>
      <p>Genre : </p>
      <div class="d-flex justify-content-between">
        <input type="radio" id="contactChoice1" name="gender" [value]="'homme'" formControlName="gender" />
        <label for="contactChoice1">Homme</label>

        <input type="radio" id="contactChoice2" name="gender" [value]="'femme'" formControlName="gender" />
        <label for="contactChoice2">Femme</label>

        <input type="radio" id="contactChoice3" name="gender" [value]="'autre'" formControlName="gender" />
        <label for="contactChoice3">Autre</label>
      </div>

          <input type="text" placeholder="Adresse" formControlName="label" class="form-control" required>
          <input type="text" placeholder="Code postal" formControlName="postalCode" class="form-control" required>
          <input type="text" placeholder="Pays" formControlName="contry" class="form-control" required>
          <input type="date" placeholder="Date de naissance" formControlName="birth" class="form-control" required>


<!--      <input type="text"  placeholder="Nom"  formControlName="firstName"/>-->
<!--      <input type="email"  placeholder="Email"  formControlName="email" />-->
<!--      <input type="text"  placeholder="Adresse"  formControlName="label" class="form-control" required>-->
<!--      <input type="text" placeholder="Code postal" formControlName="postalCode" required>-->
<!--      <input type="text" placeholder="Pays"  formControlName="contry" class="form-control" required>-->
<!--      <input type="text"  placeholder="gender"  formControlName="gender" class="form-control" required>-->
<!--      <input type="text" placeholder="Photo de profil" formControlName="profilPicture" required>-->
<!--      <input type="date" placeholder="Date de naissance"  formControlName="birth" class="form-control" required>-->
<!--      <input type="password" placeholder="Password" />-->



      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="handleSubmit()" [formGroup]="formLogin">
      <h2 class="font-weight-bold">Sign in</h2>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" formControlName="username" required/>
      <input type="password" formControlName="password" required/>
      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>


