<!--<div *ngFor="let nft of nfts.slice(0,1); " class="text-center">-->
<!--  <img src="{{nft.user.profilPicture}}" alt="" style="width: 100px; border-radius: 50%; margin-top: 5px">-->
<!--  <h2 >{{ nft.user.username }}</h2>-->

<!--</div>-->



<div class="color-home">
    <div class="container p-5">


<!--        <div class="text-center mb-4 d-flex  gap-2">-->
<!--          <div>-->
<!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--                Créer une gallery-->
<!--            </button>-->
<!--          </div>-->

<!--        </div>-->

<!--      &lt;!&ndash;      MODALE GALLERY &ndash;&gt;-->

<!--        <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--             aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title mx-auto" id="exampleModalLabel">Créer une gallery</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <form [formGroup]="formGallery" (ngSubmit)="submitGallery()">-->
<!--                            <div class="mb-3">-->

<!--                                <label for="name" class="form-label"> <small>Nom</small></label>-->
<!--                                <div class="col-md-6">-->
<!--                                    <input type="text" formControlName="name" class="form-control" style="width: 450px;" required>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label"> <small>Description</small> </label>-->
<!--                                <div class="col-md-6">-->
<!--                                   <textarea id="story" name="story" rows="3" cols="33" formControlName="description" class="form-control" style="width: 450px;">-->
<!--                                    </textarea>-->
<!--                                </div>-->
<!--                              <small class="text-success">{{messageGallery}}</small>-->
<!--                            </div>-->
<!--                            <div class="text-center">-->

<!--                                <button type="submit" [disabled]="!formGallery.valid" class="btn btn-primary">Créer</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;          <div class="modal-footer">&ndash;&gt;-->
<!--                    &lt;!&ndash;            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--                    &lt;!&ndash;            <button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
<!--                    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!--   FIN MODALE GALLERY -->


      <!--      MODALE NFT-->
<!--      <div class="modal fade " id="modalNft" tabindex="-1" role="dialog" aria-labelledby="modalNft"-->
<!--           aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h5 class="modal-title mx-auto" id="modaldNft">Créer une gallery</h5>-->
<!--              <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--                <div class="mb-3">-->
<!--                  <label for="name" class="form-label">Name</label>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" id="name" formControlName="name" class="form-control" style="width: 450px;" required>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                  <label for="pathImage" class="form-label">Image Path</label>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="text" id="pathImage" formControlName="pathImage" class="form-control" style="width: 450px;" required>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                  <label for="price" class="form-label">Price</label>-->
<!--                  <div class="col-md-6">-->
<!--                    <input type="number" id="price" formControlName="price" class="form-control" style="width: 450px;" required>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <small class="text-success">{{messageNft}}</small>-->
<!--                <div class="text-center">-->
<!--                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Create NFT</button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--            &lt;!&ndash;          <div class="modal-footer">&ndash;&gt;-->
<!--            &lt;!&ndash;            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--            &lt;!&ndash;            <button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
<!--            &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash;   FIN MODALE NFT &ndash;&gt;-->

<!--        &lt;!&ndash;      Gallery &ndash;&gt;-->

<!--        <h2>Mes galleries</h2>-->
<!--        <div class="row text-center gallery">-->
<!--            <div *ngFor="let gallery of gallerie; let index = index" class="col-6 col-md-6 col-lg-4" >-->
<!--              <button type="button" style="background-color: white" (click)="deleteGallery(gallery.id, index)" ><i class="fa-solid fa-xmark" style="color: #f80d18;"></i></button>-->

<!--                <a routerLink="/gallery/{{gallery.id}}">-->
<!--                <div class="card-deck">-->
<!--                    <div class="card galleryCard">-->
<!--                        <img class="card-img-top"-->
<!--                             src="https://i.pinimg.com/564x/84/a3/c4/84a3c460d1661b3ef577559cebc8d075.jpg"-->
<!--                             alt="Card image cap">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">{{gallery.name}}</h5>-->
<!--                            <p class="card-text">{{gallery.description}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <hr>-->
        <!--      Fin Gallery -->
      <div class="mb-5">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNft">
          Créer un NFT
        </button>
      </div>

<h2>Mes Nfts</h2>
        <div class="row ">
            <div *ngFor="let nft of nfts; let index = index;" class="col-6 col-md-6 col-lg-4">
              <a routerLink="/nft/{{nft.id}}">
                <div class="card allCard mb-3 p-4 h-70 ">

                  <button class="deletebutton" type="button" style="background-color: transparent" (click)="delete(nft.id, index)" >
                    <i class="fa-regular fa-circle-xmark" ></i>

                  </button>
                  <h5 class="card-title fw-bold text-center">{{nft.name}}</h5>

                    <img src="{{nft.pathImage}}" class="nft-image img-fluid rounded-start w-100 image-3d-effect"
                         alt="NFT Image">
                    <div>
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-arrow-up me-2 " style="color: #54b068"></i>
                                    <small>Le prix à augmenter de 0.24 ETH</small>
                                </div>
                                <div>


                                    <!--              <p class="card-text p-0 m-0"><small class="text-muted">{{nft.price}} ETH</small></p>-->
                                    <i class="fa-solid fa-share-nodes me-2" style="cursor: pointer; color: purple"></i>
                                    <!--                  <button (click)="addFav(nft.id)" class="fav">-->
                                    <!--                    <i class="fa-solid fa-heart" style="cursor: pointer; color: darkred"> </i>-->
                                    <!--                  </button>-->
                                </div>
                            </div>


                          <div class="priceMobile">
                            <small >Prix du Nft <span class=" fw-bold  ">{{nft.price}} ETH </span> </small>
                          </div>

                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex user-img">
                                    <img src="{{nft.user.profilPicture}}"
                                         class="nft-image img-fluid rounded-circle me-2"
                                         alt="NFT Image">
                                    <small class="m-0 fw-bold ">{{nft.user.username}}</small>
                                </div>
                                <div>
                                    <small class="price">Prix du Nft <span class=" fw-bold fs-6">{{nft.price}} ETH </span> </small>
                                </div>
                            </div>
                            <!--            <p class="card-text"><small class="text-muted">{{nft.date | date: 'd, MMM, y'}}</small></p>-->
                            <!--              <div class="likes">-->
                            <!--                <span class="heart like-cursor" (click)="toggleLike(nft.id)">&#x2665;</span>-->
                            <!--                <span class="like-count">{{likesState[nft.id] ? 1 : 0}}</span>-->
                            <!--              </div>-->
                            <div class="d-flex mt-5">
                                <div>
                                    <a routerLink="/nft/{{nft.id}}">
                                        <button type="button" class="btn buttonCard btn-dark btn-show me-5">Voir le NFT
                                        </button>
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </a>
            </div>
        </div>
    </div>
</div>


<!--<div class="container text-light" *ngIf="checkIsLogged()">-->
<!--    <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--        <div class="mb-3">-->
<!--            <label for="name" class="form-label">Name</label>-->
<!--            <div class="col-md-6">-->
<!--                <input type="text" id="name" formControlName="name" class="form-control" required>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="pathImage" class="form-label">Image Path</label>-->
<!--            <div class="col-md-6">-->
<!--                <input type="text" id="pathImage" formControlName="pathImage" class="form-control" required>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="price" class="form-label">Price</label>-->
<!--            <div class="col-md-6">-->
<!--                <input type="number" id="price" formControlName="price" class="form-control" required>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Create NFT</button>-->
<!--    </form>-->
<!--</div>-->

