<h1 class="text-center mb-5">Profil</h1>




<div class="container ">
  <div class="row ">
    <div class="col-4 ">
      <div class="card mb-3 p-2 h-100 ">
        <h5 class="card-title text-center">By {{userData?.username}}</h5>
        <img src="{{userData?.profilPicture}}" class="nft-image img-fluid rounded-circle w-25 mx-auto image-3d-effect" alt="NFT Image">
        <div class="text-center">
          <div class="card-body">
            <p class="card-text p-0 m-0"><small class="text-muted">{{userData?.firstName}} ETH</small></p>
            <button *ngIf="userData?.id !== undefined" (click)="viewOneUser(userData?.id)" type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Detail
            </button>
            <button *ngIf="userData?.id !== undefined" (click)="delete(userData?.id)" type="button" class="btn btn-primary m-5">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title text-center fs-5" id="exampleModalLabel">{{userDetail?.email}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="mb-3">
        <p>{{userDetail?.firstName}}</p>
      </div>

    </div>
  </div>
</div>


<!--<div class="container text-light">-->
<!--  <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--    <div class="mb-3">-->
<!--      <label for="firstName" class="form-label">Prénom</label>-->
<!--      <div class="col-md-6">-->
<!--        <input type="text" id="firstName" formControlName="firstName" class="form-control" required>-->
<!--      </div>-->
<!--      </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="profilPicture" class="form-label">profil picture</label>-->
<!--      <div class="col-md-6">-->
<!--        <input type="text" id="profilPicture" formControlName="profilPicture" class="form-control" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="lastName" class="form-label">Nom de famille</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="text" id="lastName" formControlName="lastName" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="username" class="form-label">Username</label>-->
<!--      <div class="col-md-6">-->
<!--        <input type="text" id="username" formControlName="username" class="form-control" required>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="email" class="form-label">Email</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="email" id="email" formControlName="email" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="password" class="form-label">Mot de passe</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="password" id="password" formControlName="password" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="gender" class="form-label">Genre</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="text" id="gender" formControlName="gender" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="address" class="form-label">Adresse</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="text" id="address" formControlName="label" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="postalCode" class="form-label">Code postal</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="text" id="postalCode" formControlName="postalCode" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="country" class="form-label">Pays</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="text" id="country" formControlName="contry" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="birthDate" class="form-label">Date de naissance</label>-->
<!--      <div class="col-md-6">-->
<!--      <input type="date" id="birthDate" formControlName="birth" class="form-control" required>-->
<!--    </div>-->
<!--    </div>-->
<!--    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Valider</button>-->
<!--  </form>-->
<!--</div>-->

