<p>nft-detail works!</p>

<div class="d-flex justify-content-center">
  <div class="ms-5">
    <div class="card" style="width: 18rem;">
      <img src="{{nft?.pathImage}}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title ">{{nft?.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">{{nft?.price}}ETH</li>
      </ul>
      <div class="card-body text-center">
     <a  routerLink="edit/{{nft?.id}}" class="card-link">Edit</a>
      </div>
    </div>
  </div>
</div>

