/*img{*/
/*  width: 100%;*/
/*  height: 50vh;*/
/*  object-fit: contain;*/
/*  z-index: 1;*/

/*}*/

.testy{
  background-color: #cecfd2;
}
img {
  width: 100%;
  height: 75vh;
}

.bg-img{
  background-color: #d7d6db;
}
.try{
  width: 100%;
}
