img{
  border-radius: 20px;
}
h2{
  font-size: 3rem;
}
.edit{
    background: #dde1ce ;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 10px 50px;
    position: relative;

}
.close{
  all: unset;
}

.close i {
  color: red;
}

.populaire img{
  max-width: 400px;
}

.card{
  transition: .3s;
}

/*.card button:hover{*/
/*  background-color: red;*/
/*}*/


.card{
  /*box-shadow: 9px 10px 10px #242424;*/
  background: rgb(210,212,213);
  background: linear-gradient(0deg, rgba(210,212,213,1) 0%, rgba(184,159,132,1) 54%, rgba(122,122,122,0.4906337535014006) 90%);
}
.card:hover {
  /*clip-path: polygon(0 0, 100% 0, 100% 84%, 55% 100%, 0 100%, 0 95%);*/
  box-shadow: 9px 10px 10px #242424;
}
/*Card /////////////////////////////////////////////////////////////////////////////*/

.buttonCard{
  background: #ccbfaf;
  color: black;
  border: none;
}



.nft-image{
  clip-path: polygon(15% 0, 100% 0, 100% 30%, 100% 86%, 88% 100%, 0 100%, 0% 70%, 0 11%);
}

img{
  max-width: 800px;
}

.userPic{
  width: 40px;
}


@media screen and (max-width: 768px) {
  h2{
    font-size: 1.9rem;
  }
}


@media screen and (max-width: 430px) {
  h2{
    font-size: .9rem;
  }
  .card{
    height: 380px;
  }
  p{
    font-size: .7rem;
    width: 150px;
  }

  .card-body{
    position: relative;
    right: 30px;
    width: 400px;
    font-size: .7rem;
  }

  .modal{
    width:100%;
  }

  .form-control{
    width: 380px !important;
  }
}


@media screen and (max-width: 430px) {

  .modal{
    width:96%;
  }
  .form-control{
    width: 340px !important;
  }
}


.form-control{
  width: 450px;
}
