@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&display=swap');



/* Reste de votre CSS ici... */

/*.home-back {*/
/*  background-image: url("https://img1.wallspic.com/crops/6/4/7/4/7/174746/174746-gojo_satoru-satoru_gojo-jujutsu_kaisen-lanime-manche-3840x2160.jpg");*/
/* background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  height: 80vh;*/
/*}*/

.color-home{
  background: #b07876;
}

/*.test {*/
/*  height: 125rem;*/
/*}*/

/*.row {*/
/*  height: 90vh;*/
/*}*/

.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Si vous voulez également centrer le texte horizontalement */
  height: 100vh; /* Ceci assure que la div occupe au moins la hauteur de la fenêtre visible */
  justify-content: center; /* Cette propriété assure le centrage vertical */
}

.home_content h1{
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 10%;
  color: black;
}

.home_content p {
  text-align: justify;
  margin-right: 11%;
  color: white;
}
.home_content button{
  background-color: gainsboro;
  color: black;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-right: 80px;
  box-shadow: 5px 11px 5px 0px #54b068;
  -webkit-box-shadow: 5px 11px 5px 0px #54b068;
  -moz-box-shadow: 5px 11px 5px 0px #54b068;
}

.home_content button:hover {
  background-color: gainsboro;
  color: black;
  transition: 1s;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  box-shadow: 5px 11px 5px 0px #54b068;
  -webkit-box-shadow: 5px 11px 5px 0px #54b068;
  -moz-box-shadow: 5px 11px 5px 0px #54b068;
}

.img_home {
  border: solid dimgrey 10px;
  height: 70%;
  margin-top: 20px;
}

.carousel-item {
  height: 600px;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}


.card {
  clip-path: polygon(0 0, 100% 0, 100% 84%, 55% 100%, 0 100%, 0 95%);
 background-color: white;
}

.btn-show {
  /*clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 70%, 70% 100%, 0 100%, 0% 70%, 0% 30%);*/
}

.nft-image{
  clip-path: polygon(15% 0, 100% 0, 100% 30%, 100% 86%, 88% 100%, 0 100%, 0% 70%, 0 11%);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
