@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&family=Ubuntu&display=swap');

/*.homeFull{*/
/*  background-color: red;*/
/*}*/

/*NavBAr ///////////////////////////////////////////////////////////////////////////////*/

.logo{
  font-size: 1.5rem;
}

nav a{
  color: black;
  font-family: 'Rubik', sans-serif;
}

nav ul a:hover{
  color: #344b8b;
  transition: 0.5s;
  text-decoration: underline white;
}
.active{
  color: #344b8b;
  text-decoration: underline white;
}

/*Image + Button de présentation  ////////////////////////////////////////////////////////////*/

.home-back {
  background-image: url("https://i.pinimg.com/564x/7e/2a/b0/7e2ab028c8802659b0bbe469f6512564.jpg");
  background-color: #e9edef;
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  background-position: right 250px top 160px;
  height: 100vh;
  /*clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);*/
}

@media screen and (max-width: 1399px) {

  .home-back{
    /*background-color: red;*/
    /*background-image: none;*/
    background-position: right 0px top 160px;
    height: 95vh;
  }

  .textPopulaireUser{
    font-size: 11px;
  }
  .card small{
    font-size: 0.6em;
  }
  .iconPopulaire{
    position: relative;
    left: 20px;
  }
}


/*////// responsive header */
@media screen and (max-width: 1100px) {

navbar{
  padding: 0;
  margin: 0;
}
  .navbar-collapse{
    text-align: center;
    font-weight: bold;
    vertical-align: baseline;
    position: relative;
    padding-top: 55%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 450vh;
    width: 100%;
    z-index: 200;
  }


  .home-back{
    background-size: 50%;
    background-position: right  top 160px;
    height: 60vh;
  }


  #homeText{
    position: absolute;
    top: 20%;
  }
  #homeText h1{
    font-size: 2.5rem;

  }
  #homeText h1 span{
    color: #344b8b;

  }
  #homeText button{

   width: 200px;
    height: 50px;
    font-size: 10px;
  }


}


/*////// fin responsive header */

.home-back h1{
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 10%;
  color: black;
}

.home-back h1 span{
  color: #344b8b;

}


.home-back p {
  text-align: justify;
  margin-right: 11%;
  color: #344b8b;
  font-weight: bold;
}
.homebtn{
  background-color: white;
  color: black;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-right: 80px;
  /*box-shadow: 5px 11px 5px 0px #f1aca9;*/
  /*-webkit-box-shadow: 5px 11px 5px 0px #f1aca9;*/
  /*-moz-box-shadow: 5px 11px 5px 0px #f1aca9;*/
}

.homebtn:hover {
  background-color: #344b8b;
  color: #dde1ce;
  transition: 1s;
  font-family: 'Rubik', sans-serif;
  width: 30rem;
  height: 7rem;
  font-size: 1.2rem;
  margin-top: 30px;
  /*box-shadow: 5px 11px 5px 0px #54b068;*/
  /*-webkit-box-shadow: 5px 11px 5px 0px #54b068;*/
  /*-moz-box-shadow: 5px 11px 5px 0px #54b068;*/
}

.home-content{
  margin-top: 8%;
}

/*.img_home {*/
/*  border: solid dimgrey 10px;*/
/*  height: 70%;*/
/*  margin-top: 20px;*/
/*}*/


/*Carousel //////////////////////////////////////////////////////////////////////*/

.carousel-item {
  height: 600px;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}



/*Card populaire /////////////////////////////////////////////////////////////////////////////*/
.card{
  transition: .3s;
}

/*.card button:hover{*/
/*  background-color: red;*/
/*}*/

.card:hover {
  /*clip-path: polygon(0 0, 100% 0, 100% 84%, 55% 100%, 0 100%, 0 95%);*/
  box-shadow: 9px 10px 10px #cdc43c;
  background: rgb(212,201,163);
  background: linear-gradient(0deg, rgba(212,201,163,1) 4%, rgba(180,155,89,1) 69%, rgba(182,167,105,1) 98%);
}
/*Card /////////////////////////////////////////////////////////////////////////////*/

.allCard{
transition: .3s;
}

/*.card button:hover{*/
/*  background-color: red;*/
/*}*/

.allCard:hover {
  /*clip-path: polygon(0 0, 100% 0, 100% 84%, 55% 100%, 0 100%, 0 95%);*/
  box-shadow: 9px 10px 10px #242424;
  background: rgb(210,212,213);
  background: linear-gradient(0deg, rgba(210,212,213,1) 0%, rgba(184,159,132,1) 54%, rgba(122,122,122,0.4906337535014006) 90%);
}
.buttonCard{
  background: #ccbfaf;
  color: black;
  border: none;
}

.allCard:hover .buttonCard{
  background: #242424;
  color: white;
}

.test:hover {
  box-shadow: 9px 10px 10px #cdc43c;
  background: rgb(212,201,163);
  background: linear-gradient(0deg, rgba(212,201,163,1) 4%, rgba(180,155,89,1) 69%, rgba(182,167,105,1) 98%);
}


.nft-image{
  clip-path: polygon(15% 0, 100% 0, 100% 30%, 100% 86%, 88% 100%, 0 100%, 0% 70%, 0 11%);
}

/*.carousel-control-next-icon {*/
/*  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");*/
/*}*/

/*.carousel-control-prev-icon {*/
/*  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");*/
/*}*/
/*.carousel-indicators [data-bs-target] {*/
/*  box-sizing: content-box;*/
/*  flex: 0 1 auto;*/
/*  width: 30px;*/
/*  height: 3px;*/
/*  padding: 0;*/
/*  margin-right: 3px;*/
/*  margin-left: 3px;*/
/*  text-indent: -999px;*/
/*  cursor: pointer;*/
/*  background-color: black;*/
/*  background-clip: padding-box;*/
/*  border: 0;*/
/*  border-top: 10px solid transparent;*/
/*  border-bottom: 10px solid transparent;*/
/*  opacity: .5;*/
/*  transition: opacity .6s ease;*/
/*}*/


/*.carousel-control-next {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 15%;*/
/*  bottom: 0;*/
/*  z-index: 1;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 15%;*/
/*  padding: 0;*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  background: 0 0;*/
/*  border: 0;*/
/*  opacity: .5;*/
/*  transition: opacity .15s ease;*/
/*}*/
/*.carousel-control-prev{*/
/*  left: 15%;*/
/*}*/


.populaire img{
  max-width: 400px;
}

.test{
  background-color: white;
}
.test:hover .ted{
  box-shadow: 9px 10px 10px goldenrod;
  background: rgb(210,212,213);
  background: linear-gradient(0deg, rgba(210,212,213,1) 0%, rgba(184,159,132,1) 54%, rgba(122,122,122,0.4906337535014006) 90%);
}

.bordertest{
  /*border: 1px solid #344b8b ;*/
  /*!*background-color: #dde1ce;*!*/
  /*color: black;*/
}


.vr{
  color: #485662;
}
/*.populaire h2{*/
/*  height: 100px;*/
/*  line-height: 100px;*/
/*  text-align: center;*/
/*  font-size: 1.5rem;*/
/*}*/

.populaire span {
  color: black;
}

.buttonPopulaire {
  background: #dde1ce ;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  position: relative;
}

.fav {
  all: unset;
}

h5{
  font-family: 'Rubik', sans-serif;
}
p{
  font-family: 'Rubik', sans-serif;
}
