<h2 class="text-center">Listes des NFTS</h2>


<div class="container">
  <div class="row">
  <div *ngFor="let nft of nfts; let index = index;" class="col-4 ">

    <div  class="card mb-3 p-2">
      <h5 class="card-title text-center ">{{nft.user.username}}</h5>
      <img style="width: 300px; height: 350px; object-fit: cover; margin: 0 auto 10px;" src="{{nft.pathImage}}"  class="img-fluid rounded-start" alt="...">
    <div class="text-center">
      <div class="card-body ">
        <p class="card-text"><small class="text-muted">{{nft.price}}ETH</small></p>
        <h5 class="card-title">{{nft.name}}</h5>

        <p class="card-text"><small class="text-muted">{{nft.date | date: 'd, MMM, y'}}</small></p>
<!--     <button (click)="viewOneNft(nft.id)" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalNft">Voir le NFT</button>-->
      </div>
    </div>
  </div>
  </div>
</div>
</div>

<!--<div class="modal" id="modalNft" tabindex="-1">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header text-center">-->
<!--        <h5 class="modal-title mx-auto" style="width: 700px;">{{nftDetail?.name}}</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="modal-body col-2">-->
<!--          <img style="width: 200px; height: 300px; object-fit: contain" src="{{nftDetail?.pathImage}}" alt="">-->
<!--        </div>-->
<!--        <div class="modal-body col-6">-->
<!--          <p class="text-center">{{nftDetail?.price}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
