.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

.card-body {
  padding: 10px;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.heart {
  font-size: 20px;
  color: red;
  margin-right: 5px;
}

.like-count {
  font-size: 16px;
  color: #333;
}
/*.nft-image {*/
/*  width: 200px;*/
/*  height: 200px;*/
/*  object-fit: cover;*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*}*/

/*.modal-image {*/
/*  max-width: 100%;*/
/*  max-height: 300px;*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*}*/
.like-cursor {
  cursor: pointer;
}
/*.image-3d-effect {*/
/*  transition: transform 0.3s ease-in-out;*/
/*}*/

/*.image-3d-effect:hover {*/
/*  transform: perspective(1000px) translateZ(20px); !* Ajustez les valeurs selon vos préférences *!*/
/*}*/

.fa-heart{
  z-index: 2100;
}

.allCard{
  transition: .3s;
}

/*.card button:hover{*/
/*  background-color: red;*/
/*}*/

.allCard:hover {
  /*clip-path: polygon(0 0, 100% 0, 100% 84%, 55% 100%, 0 100%, 0 95%);*/
  box-shadow: 9px 10px 10px #242424;
  background: rgb(210,212,213);
  background: linear-gradient(0deg, rgba(210,212,213,1) 0%, rgba(184,159,132,1) 54%, rgba(122,122,122,0.4906337535014006) 90%);
}
.buttonCard{
  background: #ccbfaf;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  position: relative;
}

.allCard:hover .buttonCard{
  background: #242424;
  color: white;
}

.test:hover {
  box-shadow: 9px 10px 10px #cdc43c;
  background: rgb(212,201,163);
  background: linear-gradient(0deg, rgba(212,201,163,1) 4%, rgba(180,155,89,1) 69%, rgba(182,167,105,1) 98%);
}


.nft-image{
  clip-path: polygon(15% 0, 100% 0, 100% 30%, 100% 86%, 88% 100%, 0 100%, 0% 70%, 0 11%);
}

.fav {
  all: unset;
}
.alert{
  color: red;
  background-color: red;
}

a {
  text-decoration: none;
}





@media screen and (max-width: 430px) {
  button{
    display: none;
  }

  /*.card{*/
  /*  width: 160px;*/
  /*  height: 300px;*/

  /*}*/

  .card{
    width: 160px;
    height: 300px;

  }

  .card-body{
    margin-left: -30px;
  }


  .buttonPopulaire {
    display: none;
  }


  .populaireSell small {
    font-size: .5rem;
    width: 80px;
  }

  .card span{
    font-size: 0.7rem;
  }

  .fa-share-nodes{
    display: none;
  }

  .user-img {
    position: relative;
    right: -70%;
    top: 23px;
  }

.price{
  display: none;
}

  .priceMobile{
    display: block !important;
  }
  .priceMobile span{
    font-size: .5rem;
  }


.nft-imageMobile{
  width: 25px;
  height: 25px;
  position: relative;
  top: -15px;
}


}







.user-img {
  width: 35px;
  height: 35px;
}


.priceMobile{
  display: none;
}
